@use "_mixin" as m;
@use "_common" as *;

.service-page {
  .mainvisual {
    background-image: url(../img/service-bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 24px $section-bottom-pc;
    margin-bottom: $section-bottom-pc;

    @include m.tb {
      padding: 24px 32px;
    }

    @include m.sp {
      padding: 24px 16px;
    }

    .wrapper {
      text-align: left;

      @include m.sp {
        margin-bottom: $section-bottom-sp;
      }

      img {
        width: 200px;
        margin-top: 40px;
        margin-bottom: $section-bottom-pc;
      }

      .page-title {
        color: $blue;
        font-size: 5rem;
        margin-left: 24px;
        margin-bottom: $section-bottom-pc;

        @include m.tb {
          font-size: 4rem;
        }

        span {
          display: block;
          font-size: $fs-h3;

          @include m.tb {
            font-size: $fs-text;
          }
        }
      }
    }
  }

  .concept {
    &__title {
      color: $blue;
      font-size: $fs-h3;
      font-weight: $fw-bold;
      margin-bottom: $section-bottom-sp;
    }

    &__text {
      font-size: 2rem;
    }
  }

  .water {
    .lead {
      margin-bottom: $section-bottom-pc;
    }

    &__list {
      text-align: left;

      .item {
        margin-bottom: $section-bottom-pc;

        .label {
          width: 40%;
          font-size: $fs-lg;
          color: $white;
          font-weight: $fw-bold;
          text-align: center;
          background: $blue-gradation;
          padding: 8px 24px;
          margin-bottom: 24px;

          @include m.tb {
            width: 100%;
          }

          @include m.sp {
            font-size: 2.8rem;
          }
        }

        .flex {
          display: flex;
          align-items: center;
          gap: 32px;

          @include m.tb {
            flex-direction: column;
          }

          .img {
            width: 40%;

            @include m.tb {
              width: 100%;
            }
          }

          .info {
            width: 60%;
            text-align: center;
            font-weight: $fw-bold;

            @include m.tb {
              width: 100%;
            }

            .set,
            .time {
              font-size: $fs-lg;
              margin-bottom: 16px;

              @include m.sp {
                font-size: 2.8rem;
              }
            }

            .price {
              font-size: $fs-xl;
              color: $blue;

              @include m.sp {
                font-size: $fs-lg;
              }
            }
          }
        }
      }
    }

    .modal {
      display: none;
      position: fixed;
      inset: 0;
      z-index: 1000;

      &.active {
        display: block;
      }

      &__overlay {
        cursor: pointer;
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.39);
      }

      &__content {
        width: 90%;
        max-height: 85vh;
        background: $white;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow-y: auto;
        // scrollbar-width: none;
        z-index: 1001;
      }

      &__close {
        width: 50px;
        height: 50px;
        font-size: 4rem;
        color: $black;
        background-color: transparent;
        position: sticky;
        top: 0;
        right: 20px;
        display: block;
        border: none;
        cursor: pointer;
        margin-left: auto;
        z-index: 1;
      }

      &__body {
        width: 80%;
        margin-inline: auto;

        img {
          width: 100%;
          display: block;
          margin-bottom: $section-bottom-pc;
        }
      }
    }
  }

  .aircon {
    .lead {
      margin-bottom: $section-bottom-pc;
    }

    &__list {
      text-align: left;

      .item {
        margin-bottom: $section-bottom-pc;

        .label {
          display: inline-block;
          font-size: $fs-lg;
          color: $white;
          font-weight: $fw-bold;
          text-align: center;
          background: $blue-gradation;
          padding: 8px 24px;
          margin-bottom: 24px;

          @include m.tb {
            display: block;
          }

          @include m.sp {
            font-size: 2.8rem;
          }
        }

        .flex {
          display: flex;
          align-items: center;
          gap: 32px;

          @include m.tb {
            flex-direction: column;
          }

          .img {
            width: 40%;

            @include m.tb {
              width: 100%;
            }
          }

          .info {
            width: 60%;
            text-align: center;
            font-weight: $fw-bold;

            @include m.tb {
              width: 100%;
            }

            .set,
            .time {
              font-size: $fs-lg;
              margin-bottom: 16px;

              @include m.sp {
                font-size: 2.8rem;
              }
            }

            .price {
              font-size: $fs-xl;
              color: $blue;

              @include m.sp {
                font-size: $fs-lg;
              }
            }
          }
        }
      }
    }

    .modal {
      display: none;
      position: fixed;
      inset: 0;
      z-index: 1000;

      &.active {
        display: block;
      }

      &__overlay {
        cursor: pointer;
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.39);
      }

      &__content {
        width: 90%;
        max-height: 85vh;
        background: $white;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow-y: auto;
        // scrollbar-width: none;
        z-index: 1001;
      }

      &__close {
        width: 50px;
        height: 50px;
        font-size: 4rem;
        color: $black;
        background-color: transparent;
        position: sticky;
        top: 0;
        right: 20px;
        display: block;
        border: none;
        cursor: pointer;
        margin-left: auto;
        z-index: 1;
      }

      &__body {
        width: 80%;
        margin-inline: auto;

        img {
          width: 100%;
          display: block;
          margin-bottom: $section-bottom-pc;
        }
      }
    }
  }

  .option {
    h2 {
      font-size: $fs-h3;
      font-weight: $fw-bold;
      color: $blue;
      text-align: left;
      margin-bottom: $section-bottom-sp;
    }

    &__list {
      .flex {
        display: flex;
        align-items: center;
        gap: 32px;
        margin-bottom: $section-bottom-pc;

        @include m.tb {
          flex-direction: column;
        }

        .img {
          width: 40%;

          @include m.tb {
            width: 100%;
          }
        }

        .info {
          width: 60%;
          text-align: center;
          font-weight: $fw-bold;

          @include m.tb {
            width: 100%;
          }

          .time {
            font-size: $fs-lg;
            margin-bottom: 16px;

            @include m.sp {
              font-size: 2.8rem;
            }
          }

          .title,
          .price {
            font-size: $fs-xl;
            color: $blue;

            @include m.sp {
              font-size: $fs-lg;
            }
          }
        }
      }
    }
  }
}
